<div class="jumbotron">
    <h1>Service Interfile</h1>
    <p class="lead">Serviços criados para falicitar o Desenvolvimento e a integração de novas e/ou aplicações existentes...</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Serviços de Comunicação</h2>
        <p>Serviços criados para a comunicação: Envio de e-mail, Envio de SMS...</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Serviços Imagens</h2>
        <p>Serviços cliados para a manipulação de imagens: Comprimir, gerar PDF...</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2> </h2>
        <p> </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
